@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
/* Colors */ /* Font Family */
/* Font Weight */
/* Font Size All Devices */
/* Font Size Desktop */
/* Font Size Tablets*/
/* Font Size Smartphones*/
/* Letter Spacing */
/* Flex */
/* Transition */
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
}

.about {
  position: relative;
}
@media screen and (max-width: 767px) {
  .about {
    padding: 125px 20px 40px;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 130px;
    padding-bottom: 66px;
  }
}

.about__section {
  background: var(#ffa5ba);
}
@media screen and (max-width: 767px) {
  .about__section {
    background-image: url("../images/about-iza/mobile/background__mobile.png");
    background-repeat: no-repeat;
    background-position: 0 85%;
  }
}
@media screen and (min-width: 1200px) {
  .about__section {
    background-image: url("../src/images/about-iza/desktop/background_desktop.png");
    background-repeat: no-repeat;
    background-position: 0 95%;
    background-size: contain;
  }
}

.container-about {
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}

.about__label {
  display: block;
  text-align: center;
  font-family: Titan One, cursive;
  font-size: 18px;
  line-height: 1.17;
  color: var(#ffa5ba);
  text-transform: uppercase;
  margin-bottom: 15px;
}

.about__title {
  font-family: Titan One, cursive;
  color: var(#d41443);
  font-size: 34px;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 26px;
}

@media screen and (max-width: 767px) {
  .about__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .about__content {
    display: flex;
    justify-content: space-between;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about__text {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .about__text {
    margin-right: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    width: 463px;
  }
}

.about__text--modifier {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
}
@media screen and (min-width: 768px) {
  .about__text--modifier {
    display: block;
    margin: 0 0 50px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text--modifier {
    font-size: 16px;
    max-width: 100%;
  }
}

.about__second-text {
  margin-bottom: 47px;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  margin-left: auto;
  margin-right: auto;
  color: var(#907e82);
}
@media screen and (min-width: 768px) {
  .about__second-text {
    display: block;
    margin: 0 0 62px;
    max-width: 340px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .about__second-text {
    max-width: 100%;
  }
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}/*# sourceMappingURL=main.css.map */