<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />

    <link rel="stylesheet" href="css/main.min.css" type="text/css" />
  </head>
  <body>
    <section class="contacts">Contacts</section>
    <h3 class="header-hidden">Contacts</h3>
    <div class="page-container">
      <div class="grid-container">
        <div class="grid-container__card">
          <ul>
            <li>
              <h4>Chicago</h4>
              <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li>
              <h4>Monday - Friday</h4>
              <p>06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <h4>Saturday - Sunday</h4>
              <p>08:00 AM - 16:00 PM</p>
            </li>
            <li>
              <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
              <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
        <div class="grid-container__card">
          <ul>
            <li>
              <h4>Los Angeles</h4>
              <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li>
              <h4>Monday - Friday</h4>
              <p>06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <h4>Saturday - Sunday</h4>
              <p>08:00 AM - 16:00 PM</p>
            </li>
            <li>
              <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
              <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
        <div class="grid-container__card">
          <ul>
            <li>
              <h4>New York</h4>
              <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li>
              <h4>Monday - Friday</h4>
              <p>06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <h4>Saturday - Sunday</h4>
              <p>08:00 AM - 16:00 PM</p>
            </li>
            <li>
              <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
              <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </div>
      <button type="button">Our Locations</button>
      <button type="button">Franchise</button>
    </div>
  </body>
</html>
